@model Housing.Models.DeliveryContact

<section class="container my-5">
    <h2 class="mb-4 text-warning">Nakliye Bilgilerini Düzenle</h2>

    <form asp-action="Edit" method="post" class="p-4 bg-light rounded shadow-sm">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-semibold">Ad Soyad</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label fw-semibold">Telefon Numarası</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
        </div>

        <div class="form-group">
            <label asp-for="AveragePrice" class="control-label"></label>
            <input asp-for="AveragePrice" class="form-control" />
            <span asp-validation-for="AveragePrice" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-success">Değişiklikleri Kaydet</button>
        <a asp-action="Index" class="btn btn-outline-secondary ms-2">Listeye Dön</a>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
