<section class="container my-5 text-center">
    <h2 class="text-success display-6">Teşekkürler!</h2>
    <p class="lead">Siparişin başarıyla oluşturuldu!</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">AnaSayfaya Dön</a>
</section>
