@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<section class="container my-5">
    <h2 class="text-muted">🔐 Gizlilik Politikası</h2>
    <p>Bu sadece örnek bir gizlilik politikası sayfasıdır.</p>
</section>
